:root {
  --main-back: #ffffff;
  --main-col: #212121;
  --main-section: #2f303a;
  --accent-col: #2196f3;
  --text-col: #757575;
  --studio-head: #000000;
  --main-button-ac: #188ce8;
  --team-back: #f5f4fa;
  --foot-back: #2f303a;
  --portfolio-back: #f5f5f5;
  --border-headre: #ececec;
  --border-list: #eeeeee;
  --logo-clients: #afb1b8;
  --backdrop: rgba(0, 0, 0, 0.2);
  --form-text-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--main-back);
  color: var(--main-col);
  font-family: Roboto, Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

a {
  margin: 0;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  color: var(--text-col);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section__title {
  font-size: 28px;
  line-height: 0.8;
  text-align: center;
  margin: 0;
}
.section__title_position {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin: 0;
  }
  .section__title_position {
    margin-bottom: 50px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-col);
  font-family: inherit;
  cursor: pointer;
  color: var(--main-back);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background: var(--main-button-ac);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  color: var(--accent-col);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  transition-property: opacity, visibility, pointer-events;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  max-width: 450px;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--main-back);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.modal-window__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__button:hover, .modal-window__button:focus {
  fill: var(--accent-col);
}

.modal-window__name {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--main-col);
}

@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 528px;
  }
}
.field-label {
  display: block;
  margin-bottom: 10px;
}
.field-label__description {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--text-col);
}

.form-container {
  display: block;
  position: relative;
}

.form-container__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-container__input:focus {
  outline: none;
  border-color: var(--accent-col);
}

.form-container__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-container__input:focus + .form-container__icon {
  fill: var(--accent-col);
}

.feedback {
  display: block;
  margin-bottom: 20px;
}

.feedback__feild {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__feild::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.feedback__feild:focus {
  outline: none;
  border-color: var(--accent-col);
}

.agreement-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 425px;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 25px;
  font-weight: 400;
  line-height: 1.7;
  font-size: 12px;
  color: var(--text-col);
}
.agreement-label__link {
  text-decoration: underline;
  color: var(--accent-col);
}

@media screen and (min-width: 1200px) {
  .agreement-label {
    font-size: 14px;
    padding-left: 8px;
    justify-content: center;
  }
}
.agreement-label__icon {
  position: absolute;
  left: 0;
  top: 50%;
  border: 2px solid var(--main-col);
  border-radius: 4px;
  transform: translateY(-50%);
}
.agreement-label__input:checked ~ .agreement-label__icon {
  background-color: var(--accent-col);
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-label__input:focus ~ .agreement-label__icon {
  box-shadow: 0 0 0 2px var(--accent-col);
  border-color: var(--accent-col);
}

.icon-vector {
  display: none;
  fill: var(--main-back);
}
.agreement-label__input:checked ~ .agreement-label__icon > .icon-vector {
  display: block;
}

.form-modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 52px;
}

.header {
  border-bottom: 1px solid var(--border-headre);
}

.container__header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo_black {
  color: var(--studio-head);
}

.navigation__list,
.contacts {
  display: none;
}

.menu__button {
  margin-left: auto;
  border: none;
  padding: 0;
  background-color: var(--main-back);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  fill: var(--accent-col);
}

@media screen and (min-width: 768px) {
  .container__header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    margin-left: 91px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-col);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-col);
  }
  .navigation__link_current {
    position: relative;
    color: var(--accent-col);
  }
  .navigation__link_current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-col);
    transform: translateY(1px);
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts__list:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-col);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-col);
  }
  .contacts__icon {
    display: inline-flex;
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__icon:hover, .contacts__icon:hover {
    fill: var(--accent-col);
  }
  .menu__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container__header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    margin-left: 91px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-col);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-col);
  }
  .navigation__link_current {
    position: relative;
    color: var(--accent-col);
  }
  .navigation__link_current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-col);
    transform: translateY(1px);
  }
  .contacts {
    display: flex;
    margin-left: auto;
    column-gap: 30px;
  }
  .contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    color: var(--text-col);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-col);
  }
  .contacts__icon {
    display: inline-flex;
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__icon:hover, .contacts__icon:hover {
    fill: var(--accent-col);
  }
  .menu__button {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--main-back);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-menu-container.is-open {
  transform: translateX(0);
}

.container__mobile-menu {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.mobile-menu__button:hover, .mobile-menu__button:focus {
  fill: var(--accent-col);
}

.mobile-menu__list {
  margin-bottom: 302px;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: var(--main-col);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-col);
}

.mobile-menu__link_current {
  color: var(--accent-col);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}
.mobile-menu__contacts_item {
  margin-bottom: 32px;
}
.mobile-menu__contacts_tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-col);
}
.mobile-menu__contacts_mail {
  font-weight: 500;
  font-size: 24;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-col);
}

.mobile-menu__social-list {
  display: flex;
  gap: 20px;
}

.mobile-menu__social_item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-list_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-right: 10px;
  color: var(--accent-col);
}
.mobile-menu__social-list_link:not(:last-child) {
  margin-right: 10px;
}

.main-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-section);
  color: var(--main-back);
  padding-top: 118px;
  padding-bottom: 118px;
}
.main-content__back-image {
  max-width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/header/header@-480@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-content__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main-content__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 24px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .main-content__back-image {
    background-image: url(/images/header/header@-480-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .main-content__back-image {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/header/header-768@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-content__back-image {
    background-image: url(/images/header/header-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .main-content__back-image {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/header/header-img-1600@1x.jpg);
  }
  .main-content__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
  .main-content__button {
    min-width: 216px;
    padding: 10px 32px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-content__back-image {
    background-image: url(/images/header/header-img@2x.jpg);
  }
}
.list-features__item {
  margin-bottom: 30px;
}

.list-features__name {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}

.list-features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.list-features__icon {
  display: flex;
  max-width: 450px;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--team-back);
}

@media screen and (min-width: 768px) {
  .list-features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .list-features__item {
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 2);
  }
  .list-features__name {
    text-align: start;
  }
  .list-features__icon {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list-features {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .list-features__item {
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 4);
  }
  .list-features__name {
    text-align: start;
  }
  .list-features__icon {
    max-width: 270px;
  }
}
.section__work {
  padding-top: 0;
}

.work-list {
  display: flex;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}
.work-list__thumb {
  position: relative;
}
.work-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--main-back);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1200px) {
  .section__work {
    display: none;
  }
}
.section-team_color {
  background-color: var(--team-back);
}

.list-team {
  text-align: center;
}
.list-team__item {
  margin-bottom: 30px;
  background-color: var(--main-back);
  border-bottom: var(--text-col);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}
.list-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.social-list__item {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
}

.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  fill: var(--logo-clients);
  transition-property: fill, background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  fill: var(--main-back);
  border-radius: 50%;
  background-color: var(--accent-col);
}

@media screen and (min-width: 768px) {
  .list-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list-team {
    display: flex;
    flex-wrap: nowrap;
  }
  .list-team__item:not(:last-child) {
    margin-right: 30px;
  }
}
.list-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.list-clients__item {
  max-width: 210px;
  width: 100%;
  height: 92px;
}

.list-clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  fill: var(--logo-clients);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-clients__link:hover, .list-clients__link:focus {
  border-color: var(--accent-col);
  fill: var(--accent-col);
}

@media screen and (min-width: 768px) {
  .list-clients__item {
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .list-clients {
    flex-wrap: nowrap;
  }
  .list-clients__item {
    max-width: 170px;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--foot-back);
}

.container_position {
  text-align: center;
}

.contianer-contacts {
  margin-bottom: 60px;
}

.logo_position,
.logo_white {
  display: flex;
  justify-content: center;
  height: 31px;
  margin-bottom: 20px;
}

.logo_white {
  color: var(--main-back);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-back);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-col);
}

.footer-contacts__link_color {
  color: rgba(255, 255, 255, 0.6);
}

.social-footer {
  margin-bottom: 60px;
}
.social-footer__text {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--main-back);
}
.social-footer__list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-footer__item {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
}

.social-footer__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--main-back);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-col);
}

/* Form */
.footer-form-block__name {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--main-back);
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--foot-back);
  color: var(--main-back);
}
.footer-form__input::placeholder {
  color: var(--form-text-color);
}

.form__button {
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  align-items: center;
}
.form__button_icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--main-back);
}

@media screen and (min-width: 768px) {
  .container_position {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .container_position {
    flex-wrap: nowrap;
    text-align: start;
  }
  .contianer-contacts {
    margin-right: 70px;
  }
  .logo_position,
.logo_white {
    justify-content: flex-start;
  }
  .social-footer {
    margin-right: 93px;
  }
  .footer-form-block {
    margin-left: auto;
  }
  .footer-form {
    display: flex;
    align-items: center;
  }
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}
.button-nav {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  margin: 0;
  margin-bottom: 40px;
}
.button-nav__list:not(:last-child) {
  margin-right: 8px;
}

.button-nav__item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--team-back);
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-nav__item:hover, .button-nav__item:focus {
  background-color: var(--accent-col);
  color: var(--main-back);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .button-nav {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-nav {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
}
.cards__item:not(:last-child) {
  margin-bottom: 30px;
}

.cards__link {
  display: block;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-list);
  border-left: 1px solid var(--border-list);
  border-right: 1px solid var(--border-list);
}
.cards-description__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--main-col);
}
.cards-description__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 77px 24px;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-back);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__link:hover .overlay__text, .cards__link:focus .overlay__text {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .cards__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .cards__item:not(:last-child) {
    margin-bottom: 0;
  }
  .cards__link {
    display: flex;
    flex-direction: column;
  }
  .overlay__text {
    padding-top: 49px;
    padding-bottom: 77px;
  }
  .cards-description {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .overlay__text {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */