.list-clients {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
  &__item {
    width: 170px;
    height: 92px;
    }
  
  &__item:not(:last-child) {
    margin-right: 30px;
    }
  }
  
  .list-clients__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 5px;
    fill: var(--logo-clients);
  
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      border-color: var(--accent-col);
      fill: var(--accent-col);
    }
  }
  
  