.main-content {
    text-align: center;
    background-color: var(--main-section);
    color: var(--main-back);
    padding-top: 118px;
    padding-bottom: 118px;

    &__back-image {
      max-width: 480px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/Header\ img-480.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    
    &__title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.6;
      letter-spacing: 0.06em;
      width: 360px;
      margin-right: auto;
      margin-left: auto;
      text-transform: uppercase;
      margin-bottom: 30px;
  
    }
    &__button {
      display: inline-block;
      min-width: 200px;
      padding: 10px 24px;
      
    }

  }

  @media screen and (min-width: 768px) {
   
    .main-content__back-image {
      margin-left: auto;
      margin-right: auto;
      max-width: 768px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/Header\ img-768.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    
  }
  @media screen and (min-width: 1200px) {
    .main-content {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    .main-content__back-image {
      margin-left: auto;
      margin-right: auto;
      max-width: 1600px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/main.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .main-content__title {
      @include font(900, 44px, 1.4, 0.06em);
      width: 696px;
      text-transform: uppercase;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
    .main-content__button {
      min-width: 216px;
      padding: 10px 32px;
    }
  }