.main-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-section);
    color: var(--main-back);
    padding-top: 118px;
    padding-bottom: 118px;

    &__back-image {
      max-width: 480px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/header/header@-480@1x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    
    &__title {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.6;
      letter-spacing: 0.06em;
      max-width: 360px;
      margin-right: auto;
      margin-left: auto;
      text-transform: uppercase;
      margin-bottom: 30px;
  
    }
    &__button {
      display: inline-block;
      min-width: 200px;
      padding: 10px 24px;
      
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .main-content__back-image {
      background-image: url(/images/header/header@-480-2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
   
    .main-content__back-image {
      max-width: 768px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/header/header-768@1x.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .main-content__back-image {
      background-image: url(/images/header/header-768@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    .main-content {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    .main-content__back-image {
      max-width: 1600px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/header/header-img-1600@1x.jpg);
      
    }
    .main-content__title {
      @include font(900, 44px, 1.4, 0.06em);
      max-width: 696px;

    }
    .main-content__button {
      min-width: 216px;
      padding: 10px 32px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .main-content__back-image {
      background-image: url(/images/header/header-img@2x.jpg);
    }
  }