.section-team_color {
    background-color: var(--team-back); 
  }
  
  .list-team {
    display: flex;
    text-align: center;
 
    &__item {
      background-color: var(--main-back);
      border-bottom: var(--text-col);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__description {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      margin-top: 0;
      margin-bottom: 10px;
    }
    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      margin-bottom: 16px;
    }
  }

  .social-list {
    display: flex;
    column-gap: 10px;
    justify-content: center;
  
    &__item {
      display: flex;
      width: 44px;
      height: 44px;
      align-items: center;
    }
  }
  
  
  .social-list__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    fill: var(--logo-clients);
  
    transition-property: fill, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      fill: var(--main-back);
      border-radius: 50%;
      background-color: var(--accent-col);
    }
  }
  