.field-label { 
    display: block;
    margin-bottom: 10px;

    &__description {
    display: block;
    @include font(400, 12px, 1.17, 0.01em);
    margin-bottom: 4px;
    color: var(--text-col);
    }
  }
  
  .form-container {
    display: block;
    position: relative;
  }
 
  .form-container__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus {
      outline: none;
      border-color: var(--accent-col);
    }
  }
  
  .form-container__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .form-container__input:focus + & {
      fill: var(--accent-col);
    }
  }

  .feedback {
    display: block;
    margin-bottom: 20px;
  }
  .feedback__feild {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    }
  
  &:focus {
    outline: none;
    border-color: var(--accent-col);
   }
  }
  
  .agreement-label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 425px;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 25px;
    font-weight: 400;
    line-height: 1.7;
    font-size: 12px;
    color: var(--text-col);
    
    &__link {
    text-decoration: underline;
    color: var(--accent-col);
    }
  }
  @media screen and (min-width:1200px) {
    .agreement-label {
      font-size: 14px;
      padding-left: 8px;
      justify-content: center;
    }
  }
  .agreement-label__icon {
    position: absolute;
    left: 0;
    top: 50%;
    border: 2px solid var(--main-col); 
    border-radius: 4px;
    transform: translateY(-50%);
  
    .agreement-label__input:checked ~ & {
      background-color: var(--accent-col);
      border-color: transparent;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .agreement-label__input:focus ~ & {
      box-shadow: 0 0 0 2px var(--accent-col);
      border-color: var(--accent-col);
    }
  }

  .icon-vector {
    display: none;
    fill: var(--main-back);
    
    .agreement-label__input:checked ~ .agreement-label__icon > & {
      display: block;
    }
  }
  
  .form-modal__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    padding: 10px 52px;
  }
  