:root {
    --main-back: #ffffff;
    --main-col: #212121;
    --main-section: #2f303a;
    --accent-col: #2196f3;
    --text-col: #757575;
    --studio-head: #000000;
    --main-button-ac: #188ce8;
    --team-back: #f5f4fa;
    --foot-back: #2f303a;
    --portfolio-back: #f5f5f5;
    --border-headre: #ececec;
    --border-list: #eeeeee;
    --logo-clients: #afb1b8;
    --backdrop: rgba(0, 0, 0, 0.2);
    --form-text-color: rgba(255, 255, 255, 0.6);
  }